//****************
// Button Styles
//****************




.btn {
  font-family: $font-primary;
  text-decoration: none;
  color: $white;
  font-size: $f-base;
  padding: 13px 25px 15px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  min-width: 125px;
  width: 100%;
  display: inline-block;
  text-align: center;
  @include transition(all, 0.35s, ease-in-out);
  background-color: $brand-secondary;
  border:none;

  @include mobile {
    width: auto;
  }

  @include desktop{
    min-width: 185px;
    padding: 18px 25px;
  }

  &--middle{
    display: table;
  }

  &:hover, &:focus {
    @include transition(all, 0.35s, ease-in-out);
    outline: none;
    cursor: pointer;
    background-color:$brand-primary;
  }
}

/*********************
Primary button
*********************/

.btn--primary {
  @extend .btn;

  &:hover, &:focus {
    background-color:darken($brand-tertiary, 5%);
    color:$white;
  }
}

/*********************
Secondary button
*********************/

.btn--secondary {
  @extend .btn;
  color: white;
  background-color: $brand-tertiary;
  border:1px solid $brand-tertiary;

  &:hover,
  &:focus {
    color: $white;
    background-color: darken($brand-tertiary,10%);
  }
}
