//****************
// Padding Styles
//****************




/*********************
Padding
*********************/

// Universal Padding
@each $fontsize, $size in $fontsizes {
 .p--#{$fontsize} {
   padding: $size !important;
 }
}

@each $fontsize, $size in $fontsizes {
 .p-top--#{$fontsize} {
   padding-top: $size !important;
 }
}
@each $fontsize, $size in $fontsizes {
 .p-left--#{$fontsize} {
   padding-left: $size !important;
 }
}

@each $fontsize, $size in $fontsizes {
 .p-right--#{$fontsize} {
   padding-right: $size !important;
 }
}

@each $fontsize, $size in $fontsizes {
 .p-bottom--#{$fontsize} {
   padding-bottom: $size !important;
 }
}

/*********************
Margin
*********************/

@each $fontsize, $size in $fontsizes {
 .m--#{$fontsize} {
   margin: $size !important;
 }
}

@each $fontsize, $size in $fontsizes {
 .m-top--#{$fontsize} {
   margin-top: $size !important;
 }
}

@each $fontsize, $size in $fontsizes {
 .m-bottom--#{$fontsize} {
   margin-bottom: $size !important;
 }
}

@each $fontsize, $size in $fontsizes {
 .m-left--#{$fontsize} {
   margin-left: $size !important;
 }
}

@each $fontsize, $size in $fontsizes {
 .m-right--#{$fontsize} {
   margin-right: $size !important;
 }
}

